<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Info -->
  <title>My Resume</title>
  <meta name="author" content="Adib Thaqif">
  <meta name="description" content="My Resume">
  <link rel="stylesheet" type="text/css" href="css/resume.css">

</head>

<body>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <nav>
    <a href="/">Home</a>
    <a href="/welcome">Welcome</a>
    <a target="" href="/cv">My Resume</a>
    <a target="_blank" href="http://128.199.10.10/cv">Tanvir's Resume</a>
    <a target="_blank" href="http://165.232.152.55/cv">Hector's Resume</a>
    <a target="_blank" href="http://143.110.229.54/cv">Michael's Resume</a>
    <div class="animation start-home"></div>
  </nav>
  <div class="resume">
    <div class="resume_left">
      <div class="resume_profile">
        <img src="assets/avatar.JPG" alt="profile_pic">
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">Muhammad Adib Thaqif Taufek</p>
            <p class="regular">Web Developer</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-map-signs"></i>
              </div>
              <div class="data">
                San Diego, California
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="data">
                +858 2577142
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="data">
                adibthaqifx@gmail.com
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-weebly"></i>
              </div>
              <div class="data">
                www.adibthaqif.com
              </div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_skills">
          <div class="title">
            <p class="bold">skills</p>
          </div>
          <ul>
            <li>
              <div class="skill_name">
                HTML
              </div>
              <div class="skill_progress">
                <span style="width: 70%;"></span>
              </div>
              <div class="skill_per">70%</div>
            </li>
            <li>
              <div class="skill_name">
                CSS
              </div>
              <div class="skill_progress">
                <span style="width: 65%;"></span>
              </div>
              <div class="skill_per">65%</div>
            </li>
            <li>
              <div class="skill_name">
                JS
              </div>
              <div class="skill_progress">
                <span style="width: 55%;"></span>
              </div>
              <div class="skill_per">55%</div>
            </li>
            <li>
              <div class="skill_name">
                React
              </div>
              <div class="skill_progress">
                <span style="width: 65%;"></span>
              </div>
              <div class="skill_per">65%</div>
            </li>
            <li>
              <div class="skill_name">
                C++
              </div>
              <div class="skill_progress">
                <span style="width: 60%;"></span>
              </div>
              <div class="skill_per">60%</div>
            </li>
            <li>
              <div class="skill_name">
                Java
              </div>
              <div class="skill_progress">
                <span style="width: 60%;"></span>
              </div>
              <div class="skill_per">60%</div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_social">
          <div class="title">
            <p class="bold">Social</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Instagram</p>
                <a target="_blank" href="https://instagram.com/adibthaqif_">adibthaqif_</a>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Twitter</p>
                <a target="_blank" href="https://twitter.com/adib_thaqif">adib_thaqif</a>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Linkedin</p>
                <a target="_blank" href="https://linkedin.com/in/adibthaqif">adibthaqif</a>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-codepen"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Codepen</p>
                <a target="_blank" href="https://codepen.io/mtaufek">adib_thaqif</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_item resume_about">
        <div class="title">
          <p class="bold">About Me</p>
        </div>
        <p>
          Aspiring software engineering student with experience in various languages and frameworks.
          Interested in software and web development. Garnered an array of experiences in Agile development,
          software design principles, data structures and algorithms.
        </p>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Work Experience</p>
        </div>
        <div class="date">Sep 2020 - Dec 2020</div>
        <div class="info">
          <p class="semi-bold">Software Engineer Intern, Sureze Inc</p>
          <ul>
            <li>Designed a fully responsive company website using React JS, Node JS, and Firebase.</li>
            <li>Implemented React JS to design an intuitive and responsive user interface.</li>
            <li>Utilized Node JS to organize user data and use it to generate dynamic content for users</li>
            <li>Used Firebase Hosting Services to host the website and store user data.</li>
          </ul>
        </div>
        <div class="date">Feb 2021 - March 2021</div>
        <div class="info">
          <p class="semi-bold">Software Engineer Intern, GGChat.io</p>
          <ul>
            <li>Developed the front-end web application to help students socialize through virtual board games.</li>
            <li>Utilized React JS to design the user interface and Node JS to connect with the MongoDB database</li>
          </ul>
        </div>
        <div class="date">Jan 2019 - June 2019</div>
        <div class="info">
          <p class="semi-bold">Computer Science Tutor, Whatcom CC</p>
          <ul>
            <li>Explained object-oriented programming concepts in a collaborative learning environment.</li>
            <li>Reviewed computer science materials with students to discover correct homework solutions.</li>
            <li>Debug students’ Java labs and projects focused on data structures and object-oriented programming.</li>
          </ul>
        </div>
      </div>
      <div class="resume_item resume_education">
        <div class="title">
          <p class="bold">Education</p>
        </div>
        <div class="date">2019 - 2022</div>
        <div class="info">
          <p class="semi-bold">Computer Engineering, UC San Diego</p>
          <p>Notable courses such as Software Engineering, Data Science in Practice, Art of Product Engineering and
            Algorithm Analysis</p>
        </div>
      </div>
      <div class="resume_item resume_hobby">
        <div class="title">
          <p class="bold">Hobby</p>
        </div>
        <ul>
          <li><i class="fas fa-futbol"></i></li>
          <li><i class="fas fa-gamepad"></i></li>
          <li><i class="fas fa-music"></i></li>
          <li><i class="fas fa-plane"></i></li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>