<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page Info -->
  <title>Adib's Website</title>
  <meta name="author" content="Muhammad Adib Thaqif">
  <meta name="description" content="ECE140B Website">

  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/welcome">Welcome</a>
    <a href="/cv">My Resume</a>
    <a target="_blank" href="http://143.110.229.54/cv">Tanvir's Resume</a>
    <a target="_blank" href="http://165.232.152.55/cv">Hector's Resume</a>
    <a target="_blank" href="http://128.199.10.10/cv">Michael's Resume</a>
    <div class="animation start-home"></div>
  </nav>

  <time id="time"></time>
  <h1>
    <span id="greeting"></span>
    <span id="name" contenteditable="true"></span>
  </h1>

  <h2>What Is Your Focus For Today?</h2>
  <h2 id="focus" contenteditable="true"></h2>

</body>

<script src="home.js"></script>

</html>