<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class="wrapper">
  <div class="cs-wrapper">
    <h1>Coming Soon!</h1>
    <h2>Muhammad Adib Thaqif Taufek</h2>
  </div>
</div>

  </body>
</html>